torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
numpy==2.2.6
scipy==1.15.3
pandas==2.3.3
scikit-learn==1.7.2
matplotlib==3.10.9
mediapipe==0.10.35
opencv-python-headless==4.13.0.92
